#About .about-section {
  display: flex;
  align-items: center;
}

#About img {
  width: 290px;
  height: 230px;
  padding: 5px;
  border-radius: 10%;
  margin: 2em;
}

#About .about-section p {
  width: 50%;
  line-height: 1.5;
}

@media screen and (max-width: 625px) {
  .techTools {
    flex-direction: column;
    align-items: baseline;
  }
}

/* Mobile Styles */
@media screen and (max-width: 540px) {
  .about-section {
    width: 95%;
  }
  .about-section p {
    font-size: 1.2em;
  }
  #About img {
    margin-bottom: 0.5em;
  }
}
