#About .about-section {
  display: flex;
  align-items: center;
}

#About img {
  width: 290px;
  height: 230px;
  padding: 5px;
  border-radius: 10%;
  margin: 2em;
}

#About .about-section p {
  width: 50%;
  line-height: 1.5;
}
