.contact-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 5em;
  margin-left: 8em;
}

.contact-form form label {
  font-size: 1.7em;
}

.contact-form form input[type="text"],
textarea {
  border: none;
  width: 70%;
  font-size: 1.2em;
  border-radius: 4px;
  padding: 0.8em;
  resize: none;
}

input:focus,
textarea:focus {
  box-shadow: 0px 1px 10px rgb(0, 0, 0, 0.4);
}

/* Button Styles Below */
.contact-form form button {
  padding: 0.6em;
  border: none;
  text-decoration: none;
  border-radius: 4px;
  width: 250px;
  font-size: 1em;
  box-shadow: 0px 1px 2px rgb(0, 0, 0, 0.4);
}

/* TODO: Come back to this after I get color scheme */
.contact-form form button:hover {
}
