#Contact .contact-form {
  display: flex;
  justify-content: center;
}

#Contact .contact-form label {
  display: flex;
  flex-direction: row;
  font-size: 2em;
  margin-top: 0.5em;
}

#Contact .contact-form input[type="text"] {
  width: 30em;
  padding: 1.5em;
  border: none;
  border-radius: 2%;
  font-size: 0.9em;
  border: 1px solid black;
}

#Contact .contact-form textarea {
  width: 32em;
  height: 15em;
  border-radius: 1.2%;
  border: 1px solid black;
}

#Contact .contact-form button {
  margin-top: 5%;
  font-size: 1.4em;
  border: none;
  border-radius: 2spx;
  width: 10em;
  height: 2em;
}

#Contact .contact-form button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#Contact .contact-form button:active {
  border: none;
}

/* Tablet style */
@media screen and (max-width: 690px) {
  #Contact .contact-form textarea {
    width: 24em;
  }
}

/* Responsive for Mobile phones */
@media screen and (max-width: 540px) {
  #Contact .contact-form {
    margin-top: 0.5em;
  }
  #Contact .contact-form input[type="text"] {
    width: 15em;
  }

  #Contact .contact-form textarea {
    width: 13em;
  }
  #Contact span {
    display: none;
  }
  #Contact .contact-form button {
    margin-left: 0.2em;
  }
}
