@import "reset.css";
.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: "Merriweather", sans-serif;
}
.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 3.43fr;
  grid-template-rows: auto;
  grid-template-areas:
    "a b"
    "a b"
    "a c"
    "a d"
    "a e"
    "a f"
    "a f";
}

.a {
  grid-area: a;
  background: green;
}
.b {
  grid-area: b;
  background-color: red;
  padding-left: 2em;
}
.c {
  grid-area: c;
  background-color: purple;
}
.d {
  grid-area: d;
  background-color: green;
}
.e {
  grid-area: e;
  background: blueviolet;
}
.f {
  grid-area: f;
  background: green;
}

div h3 {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin-top: 0.4em;
}
div h4 {
  text-decoration: underline;
}
