@import "reset.css";
.App {
  margin: 0;
  font-family: "Merriweather", sans-serif;
}
.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 3.43fr;
  grid-template-rows: 800px auto auto repeat(2, 800px) 560px 13em;
  grid-template-areas:
    "a b"
    "a b"
    "a c"
    "a d"
    "a e"
    "a f"
    "a f";
}

.a {
  grid-area: a;
  background-color: cyan;
}
.b {
  grid-area: b;
  background-color: rebeccapurple;
}
.c {
  grid-area: c;
  background-color: lightcoral;
}
.d {
  grid-area: d;
  background-color: lawngreen;
}
.e {
  grid-area: e;
  background-color: red;
}
.f {
  grid-area: f;
  background-color: khaki;
}

div h3 {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin-top: 0.4em;
}
div h4 {
  text-decoration: underline;
}

/* Responsive tablet style  */
@media screen and (max-width: 870px) {
  .navBar {
    background-color: red;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 12%;
  }
  .container {
    grid-template-columns: 1fr;
  }
}

/* Responsive for Mobile phones */
@media screen and (max-width: 540px) {
  body {
    overflow-x: hidden;
  }

  /* Aligning everything that was not in a column, in a column */
  .techTools,
  #About .about-section {
    display: flex;
    flex-direction: column;
  }
  /* Navbar style below */
  .navBar {
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 15%;
    z-index: 1;
  }
}
