#Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.9em;
  background: url(../media/sanfran.jpeg) no-repeat center;
  background-size: cover;
}

#Header p {
  padding: 2em;
  color: black;
  border: 2px solid black;
  background: rgba(89, 143, 239, 0.2);
  z-index: 2;
}

#Header .header-content {
  z-index: 2;
}

#Header p img {
  width: 1.4em;
}

#Header #overlay {
  position: absolute;
  display: block;
  width: 77.28%;
  height: 50em;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

#Header a {
  text-decoration: none;
  color: black;
}

#Header a:hover {
  text-decoration: underline;
}

.my-name {
  font-size: 3em;
}

/* Responsive Tablet Sizing */
@media screen and (max-width: 1380px) {
  #Header #overlay {
    width: 100%;
  }

  #Header p {
    padding: 1.4em;
  }
  #Header .header-content {
    background: rgba(89, 143, 239, 0.2);
  }
}

/* Responsive for Mobile phones */
@media screen and (max-width: 540px) {
  #Header {
  }
  #Header + #overlay {
    height: 80%;
  }
  #Header .header-content {
    margin-left: -6em;
  }
}

@media screen and (max-width: 540px) {
  #Header .header-content {
    margin-right: -5.9em;
  }
}
