.navBar {
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  width: 22.7%;
  z-index: 200;
}
.navBar .side-links {
  margin-top: 3em;
  padding: 0.7em;
  z-index: 200;
}

/* Styling the li's on the side */
.navBar ul li {
  padding: 1em;
  font-size: 2em;
}

.navBar ul li a {
  text-decoration: none;
  color: white;
  font-family: "Noto Serif", serif;
}

.navBar ul li a:hover {
  text-decoration: underline;
  transform: scale(2);
}

.navBar ul li:hover {
  transform: scale(1.2);
}

.navBar .ham-sym {
  position: relative;
  top: 0.5em;
  left: 0.5em;
  font-size: 2em;
  display: none;
}

.navBar #hamburger-menu {
  display: none;
}

/*********************
Responsive styles below 
**********************/
@media screen and (max-width: 1380px) {
  .navBar .side-links li {
    padding-top: 0.5em;
  }
}

@media screen and (max-width: 1100px) {
  .navBar .side-links li {
    padding-top: 1em;
    font-size: 1.6em;
  }
}

/* Responsive Tablet Sizing */
@media screen and (max-width: 870px) {
  .navBar {
    background-color: rgba(0, 78, 146, 1);
    width: 100%;
    z-index: 5;
    position: fixed;
  }

  .navBar .ham-sym {
    display: block;
    cursor: pointer;
  }

  .navBar .side-links .social-links {
    display: none;
  }
}
/* Responsive for smaller phones */
@media screen and (max-width: 540px) {
  /* Navbar style below */
  .navBar {
  }
}
