.navBar {
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  width: 22.7%;
}
.navBar .side-links {
  margin-top: 5em;
  padding: 0.7em;
}

.navBar ul li {
  padding: 1em;
  font-size: 1.8em;
}

.navBar ul li a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

.navBar ul li a:hover {
  color: white;
  text-decoration: underline;
  transform: scale(1.2);
}
