.techTools {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(100px, auto);
}

.techTools h4,
ul {
  font-size: 1.9em;
  color: black;
  padding: 0.5em;
  text-align: center;
  margin-top: 0.5em;
}

.techTools li {
  font-size: 1.6em;
  margin: 0.5em;
  margin: -7px 0 18px 0px;
  margin-top: 0.2em;
}

.techTools img {
  width: 1.3em;
  height: 1.3em;
}
.fab {
  font-size: 1.5em;
  margin-left: 2px;
}
.techTools img[alt="Python logo"] {
  animation: pythonTrail linear 3s infinite;
}
.techTools img[alt="Slack logo"] {
  animation: slackRun linear 5s infinite;
}
.techTools img[alt="Django logo"] {
  width: 2.3em;
}
.fa-js-square {
  color: #f6e400;
  animation: shakeJS 2s ease infinite;
}
.fa-github-square {
  color: black;
}
.fa-react {
  color: #22dcff;
  animation: reactSpin linear 4s infinite;
}
/* Tablet styles*/
@media screen and (max-width: 900px) {
  .techTools ul li {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 700px) {
  .techTools {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
/* Mobile Styles */
@media screen and (max-width: 540px) {
  .techTools ul {
    width: 95%;
  }
}
