.techTools {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(100px, auto);
}

.techTools h4 {
  margin-top: 0.5em;
}

.techTools h4,
ul {
  font-size: 1.4em;
  color: black;
  padding: 0.5em;
  text-align: center;
}

.techTools li {
  font-size: 1.2em;
  margin: 0.5em;
  margin: -7px 0 18px 0px;
  margin-top: 0.2em;
}

.fab {
  font-size: 1.5em;
  margin-left: 2px;
}

.fa-js-square {
  color: #f6e400;
}

.fa-python {
  color: #276da3;
}

.fa-github-square {
  color: black;
}
.fa-react {
  color: #22dcff;
  animation: rotate linear 4s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Tablet style */
@media screen and (max-width: 625px) {
  .techTools {
    grid-template-columns: 1fr;
  }
}

/* Mobile Styles */
@media screen and (max-width: 540px) {
  .techTools {
    width: 64%;
  }
}
